<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198429629660-qqgq0k1c19g4nri4gqpdv54b49qf1gt0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198429629660-qqgq0k1c19g4nri4gqpdv54b49qf1gt0</string>
	<key>API_KEY</key>
	<string>AIzaSyAh1VFpLZni6l2NA5IzFBNAhI-yG-vma10</string>
	<key>GCM_SENDER_ID</key>
	<string>198429629660</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>serginjo-m.Projector</string>
	<key>PROJECT_ID</key>
	<string>projectorfirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>projectorfirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198429629660:ios:54f8df7882a79cb39f2819</string>
	<key>DATABASE_URL</key>
	<string>https://projectorfirebase-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>